<div class="post">
	<h3>Post title blog blah</h3>
	<div class="date-header">
		<p>September 19, 2014</p>
	<div>
	<p>Praesent intellegam at his, ex quo amet offendit consectetuer. Nec dicant voluptae commune salutandi ad, utinam putant eligendi vix ei. Ea nam aliquid oportere. Probatus consequat ei usu, quo ferri voluptatum argumentum ne.</p>
	<div class="continue">
		<% link_to @post %>
	<div>
</div>
