@import "bootstrap-sprockets";
@import "bootstrap";

#name-container {
	text-align: center;
	padding: 100px 0px;
	border-bottom: 1px solid #ebebeb;
	h1 {
		font-size: 4em;
		color: #262626;
	}
	h2 {
		font-size: 1.5em;
		color: #777777;
	}
}